body {
  background: peachpuff;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.container> div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.a{
  min-width: 100%;
  min-height: 10rem;
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: .3rem;
  align-items: center;
}

.b,
.c,
.d,
.e,
.f,
.g{
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: .3rem;
  min-width: 19.2rem;
  min-height: 15rem;
}

.h{
  min-width: 100%;
  min-height: 37rem;
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: .3rem;
}

@media screen and (min-width:"600px") {
  .container{
    display: flex;
    flex-wrap: wrap;
  }
}