body {
  background: blanchedalmond;
}

.container > div{
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: .3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.a {
  height: 7rem;
}

.b{
  height: 115rem;
}

.c{
  height: 7rem;
}

@media screen and (min-width: 600px){
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .a{
    height: 20rem;
    width: 100%;
  }
  .b{
    width: 70%;
  }
  
  .c{
    width: 22%;
    height: 115rem;
  }
  
}