body {
  background: blanchedalmond;
}

.container > div{
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: .3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.a {
  min-height: 7rem;
}

.b{
  min-height: 115rem;
}

.c{
  min-height: 7rem;
}

@media screen and (min-width: 600px){
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .a{
    min-height: 20rem;
    min-width: 100%;
  }
  .b{
    min-width: 70%;
  }
  
  .c{
    min-width: 22%;
    min-height: 115rem;
  }
  
}