body {
  background: papayawhip;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.container > div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.a{
  width: 100%;
  height: 80px;
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: .3rem;
}

.b{
  width: 100%;
  height: 200px;
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: .3rem;
}

.c{
  height: 5rem;
  width: 5rem;
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: .3rem;
}

.d{
  height: 5rem;
  width: 5rem;
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: .3rem;
}

.e{
  height: 5rem;
  width: 5rem;
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: .3rem;
}

.f{
  width: 100%;
  height: 80px;
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: .3rem;
}

@media screen and (min-width: 600px){
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .b{
    width: 60%;
    height: 100rem;
  }
  .c{
    order: 1;
    height: 5em;
    width: 5em;
  }
  .d{
    order: 2;
    height: 5em;
    width: 5em;
  }
  .e{
    order: 3;
    height: 5em;
    width: 5em;

  }
  .f{
    width: 38%;
    height: 150rem;
  }
}